upgrade fpd auto
version 15.0
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
{% if hostname is defined %}
hostname {{hostname}}
{% endif %}
!
boot-start-marker
boot-end-marker
!
!
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!         
!
aaa session-id common
!
!
!
ip source-route
no ip icmp rate-limit unreachable
ip cef
!
!
!
!
no ip domain lookup
ip domain name test
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!         
!
!
username hamid privilege 15 password 0 hamid
!
redundancy
!
!
ip tcp synwait-time 5
ip ssh version 2
! 
!
!
!
!
!
!
!
interface FastEthernet0/0
 no ip address
 shutdown
 duplex half
 !
!         
interface FastEthernet1/0
 no ip address
 shutdown
 duplex half
 !
!
interface FastEthernet2/0
 ip address 10.10.10.11 255.255.255.0
 duplex half
 !
!
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
!
no cdp log mismatch duplex
!
!
!
!         
!
!
control-plane
 !
!
!
mgcp fax t38 ecm
mgcp behavior g729-variants static-pt
!
!
!
gatekeeper
 shutdown
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
!
netconf ssh
end
